<body id="contact">
    {{!-- <header>
        <div class="container">
            <h1 class="branding">BandMates &nbsp;<i class="fas fa-music"></i></h1>

            <nav>
                <ul class="navbar">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li class="current">
                        <a href="contact">Contact</a>
                    </li>
                </ul>
            </nav>

        </div>
    </header> --}}

    <div id="connection">
        <div id="top">
            <h2>Let's Get In Touch!</h2>
            <p>Please reach out to us if you have questions, comments or concerns.</p>
        </div>

        <div class="contact">
            <i class="fas fa-phone fa-3x" alt="phone icon"></i>
            <p>123-456-7890</p>
        </div>

        <div class="contact">
            <i class="fas fa-at fa-3x" alt="email icon"></i>
            <p>feedback@BandMates.com</p>
        </div>

        <div class="contact">
            <i class="fas fa-map-pin fa-3x" alt="location pin icon"></i>
            <ul id="location">
                <li>BandMates</li>
                <li>123 Music Drive</li>
                <li>Hollywood, CA 90038</li>
            </ul>
        </div>
    </div>



    <footer>
        <p>&copy; BandMates</p>
    </footer>
    <script src="../public/js/index.js"></script>
</body>