<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>Find a New Band or Bandmember</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <!--Name Div-->
            <div class="userName">
              <label for="username">Enter a User name: </label>
              <input type="text" name="questionOne" id="username" required>
            </div>
            <div class="password">
              <label for="password">Enter your password: </label>
              <input type="text" name="questionTwo" id="password" required>
            </div>
            <div class="form-name">
              <label for="name">Enter your name: </label>
              <input type="text" name="questionThree" id="name" required>
            </div>
            <!--Solo or Band div-->
            <label for="soloOrBand">What are you looking for?</label>
            <div>
              <input type="radio" id="band" name="questionFour" value="band" checked>
              <label for="band">Bands</label>
            </div>
            <!---->
            <div>
              <input type="radio" id="musician" name="questionFive" value="musician">
              <label for="musician">Musician</label>
            </div>
            <!--Instrument div-->
            <div class="Instrument">
              <label for="instrument">What instrument(s) do you play? </label>
              <input type="text" name="questionSix" id="instrument">
            </div>
            <!--Genre div-->
            <div class="genre">
              <label for="genre">Genre of Music: </label>
              <input type="text" name="questionSeven" id="genre" required>
            </div>
            <!--Years of Experience div-->
            <div class="experience">
              <label for="experience">Years of Experience: </label>
              <input type="text" name="questionEight" id="experience" required>
            </div>
            <!--Bio div-->
            <div>
              <label for="bio">Bio: Tell us about yourself... </label>
              <textarea id="bio" name="about" rows="5" cols="33">
              </textarea>
            </div>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>