<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>Find a New Band or Bandmember</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">What are you looking for?</label>
            <div>
              <input type="radio" id="band" name="questionOne" value="band" checked>
              <label for="band">Bands</label>
            </div>

            <div>
              <input type="radio" id="musician" name="questionOne" value="musician">
              <label for="musician">Musicians</label>
            </div>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>