<body id="landing">
<header>
    <div class="container" id="signIn">
        <nav>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="text" placeholder="User Name" aria-label="User Name">
                <input class="form-control mr-sm-2" type="password" placeholder="password" aria-label="password">
                <button class="btn btn-outline-success my-2 my-sm-0" type="Login">Login</button>
            </form>
        </nav>

    </div>
</header>

    <div id="introduction">
        <h1>Welcome to BandMates</h1>
        <p>BandMates is an online network that helps connect local muscians and bands. You can set up a solo
            or band profile and then search for exactly what you need. Hobbyists, beginners, and experts alike can
            appreciate
            a resource to connect with similar, like-minded musicians.</p>

        <a href="index">Create Profile</a>


    </div>
    <footer>
        <p>&copy; BandMates</p>
    </footer>
    <script src="../public/js/index.js"></script>
</body>